#title{
// background-color: #fff;
//   border: 0;
//   box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
//     0 2px 4px rgba(0, 0, 0, 0.24);
//   padding: 1rem;
//   cursor: pointer;
//   position: relative;
//   margin: 1rem auto;

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 3rem;
    margin-top: -60px;
    margin-left: 175px;
    padding-left: 10px;
    text-shadow: 0 0 24px rgba(189,21,189,.8);

    #title.span{
        background: -webkit-linear-gradiant(white, #445669);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}


