$s: 2em;
$w: 13em;
$f: 19/13;
$g: 1em;
$n: 7;
$c: #4b384c;

Navbar {
  //   display: flex;
  //   -webkit-box-pack: justify;
  //   justify-content: space-between;
  //   -webkit-box-align: center;
  //   align-items: center;
  position: relative;
  //   color: var(--lightest-slate);
  font-family: "Space Mono Monospace";
  // counter-reset: item 0;
  // z-index: 12;
  background-color: #f5f105;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    NavLink {
      margin: 0 40px 0 0;
      opacity: 0.4;
      transition: all 0.4s ease;
      &:hover {
        opacity: 0.7;
      }
      &.active {
        opacity: 1;
      }
      &:last-child {
        margin-right: 0;
      }
      //   a
      //     text-decoration: none;
      //     color: #fff;
      //     text-transform: uppercase;
      //     display: block;
      //     font-weight: 600;
      //     letter-spacing: .2em;
      //     font-size: 14px;

      .line {
        height: 2px;
        position: absolute;
        bottom: 0;
        margin: 10px 0 0 0;
        background: #ff1847;
      }
    }
  }

  // overflow-x: hidden;
  //   padding-top: 20px;
  // z-index: 2;
  .vertical-text-left {
    display: flex-end;
    align-items: center;
    cursor: vertical-text;
    font-size: 2em;
    font-family: sans-serif;
    // white-space: nowrap;
    letter-spacing: 3px;
    // position: relative;
    -webkit-box-align: center;
  }

  //    .navi{
  //        display: flex;
  //        margin: 5%;
  //        padding-top: 20px 10px;
  //        &:hover{
  //             // text-decoration: underline overline;
  //        }

  //    }
}

.icons {
  display: inline-flex;
}
