
html,
body {
  background: radial-gradient(ellipse at top, #3f3a61 0%, #232facdb 100% );
  overflow: hidden;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Space",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",source-code-pro, "Menlo", "Monaco", "Consolas", "Courier New",
    monospace,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


